nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #234;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 15vw;
  margin-bottom: 15vw;
}

.movie_list_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.movie-card {
  width: clamp(280px, 100%, 320px);
  height: clamp(10rem, 30rem, 400px);
  background-color: #fff4;
  border-radius: 0.5rem;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  box-shadow: 1px, 1px, 10px #0009;
}

.movie-card__top {
  flex: 7;
  width: 100%;
  background-color: #234;
  display: grid;
  place-items: center;
}
.movie-card__bottom {
  flex: 5;
  width: 100%;
  display: grid;
  padding: 1rem;
}

.movie-card__title {
  color: transparent;
  background: linear-gradient(to right, gold, #fff);
  background-clip: text;
}

.movie-card:first-child {
  background-color: rgb(104, 89, 4);
  color: #fff;
}

.movie-card__like {


}

.movie-card__desc {

}

movie-card__no-likes {

}